/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #5a7dff;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    flex-grow: 1;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #5a7dff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3f63ff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

li {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .task {
    flex-grow: 1;
}

li a {
    color: #5a7dff;
    text-decoration: none;
    margin-left: 10px;
}

li a:hover {
    text-decoration: underline;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    input[type="text"] {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.todo-done .task {
    text-decoration: line-through;
    color: #999;
}